@charset "UTF-8";
@media screen and (min-width: 820px){
    header{
        top: 0px;
        justify-content: space-around;
        padding: 20px;
    }
    body{
        height: 84vh;
    }
    a{
        margin: 10px;
    }
    main{
        margin-top: 90px;
    }
    .links{
        width: 50vw;
        float: right;
    }
    .titulo{
        display: block;
    }
    .titulo > h1{
        font-size: 1.5em;
        color: white;
        font-weight: lighter;
    }
    section{
        width: 50vw;
    }
    #analise{
        margin-bottom: 0px;
    }
    .espaco{
        height: 20px;
    }
}