@charset "UTF-8";
*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, white, rgb(168, 168, 168));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: calc(100vh - 90px);
    background-attachment: fixed;
}
header{
    background-color: rgb(21, 28, 124);
    width: 100vw;
    position: absolute;
    height: 75px;
    top: calc(100vh - 75px);
    left: 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    z-index: 1;
}
a{
    color: white;
    text-decoration: none;
    transition: .2s;
    margin: 20px;
}
a:hover{
    transform: scale(1.1);
    background-color: rgb(34, 43, 156);
    padding: 5px;
    border-radius: 10px;
}
.titulo{
    display: none;
}
.links{
    display: flex;
    justify-content: right;
}
h1{
    text-align: center;
}
section{
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    width: 90vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
}
.texto{
    padding: 10px;
}
.imagem{
    background: url(../imagens/pexels-davidmcbee-730547.jpg);
    height: 200px;
    background-size: cover;
}
table{
    border-collapse: collapse;
    margin: auto;}
td, th{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}
th{
    background-color: gray;
    color: white;
}
#analise{
    margin-bottom: 100px;
}
form{
    margin: 10px;
}
button{
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(33, 43, 185);
    color: white;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
button:hover{
    background-color: rgb(81, 89, 211);
    transform: scale(1.1);
}
.botao{
    display: flex;
    justify-content: center;
    margin: 10px;
}
input{
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    border-radius:  10px;
}
#açoes{
    padding: 20px;
}
.espaco{
    height: 90px;
}
#b_link:hover{
    transform: scale(1);
    background-color: rgb(81, 89, 211);
    padding: 0px;
    border-radius: 10px;
}