<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Age Finance</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/medias_query.css">
</head>
<body>
    <header>
        <div class="titulo">
            <h1>Financeiro New Age</h1>
        </div>
        <div class="links">
            <div>
                <a href="index.html">Home</a>
                <a href="#">Juros Compostos</a>
                <a href="analise.html">Análise de ações</a>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="texto">
                <h1>Calculadora de Juros Compostos</h1>
            </div>
            <div class="calculadora">
                <label for="inico">Capital inicial:</label><br>
                <input type="number" name="inicial" id="inicio" min="0"><br>
                <label for="juros">Taxa de Juros:</label><br>
                <input type="number" name="juros" id="juros">% <br>
                <label for="itempo">Tempo:</label><br>
                <input type="number" name="itempo" id="itempo" min="0">
                <select name="tempo" id="tempo">
                    <option value="Anos">Anos</option>
                    <option value="Meses">Meses</option>
                </select><br>
                <label for="aporte">Aporte Mensal:</label><br>
                <input type="number" name="aporte" id="aporte" value="0">
            </div>
            <div id="botao_calc"><button id="calcular" onclick="calcular()">Calcular</button></div>
            <div id="botao_calc">
                <div id="res"></div>
            </div>
        </section>
    </main>
    <script src="../static/js/script.js"></script>
</body>
</html>