<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Age Finance</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/medias_query.css">
</head>
<body>
    <header>
        <div class="titulo">
            <h1>Financeiro New Age</h1>
        </div>
        <div class="links">
            <div>
                <a href="#">Home</a>
                <a href="">Gráficos</a>
                <a href="">Minhas Ações</a>
                <a href="">Análise de ações</a>
            </div>
        </div>
    </header>
    <main>
        <section>
            <h1>Bem vindo ao Financeiro New Age</h1>
            
        </section>
    </main>
</body>
</html>