<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Financeiro</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    {% set mensagem = get_flashed_messages()%}
    {%if mensagem %}
    <div class="flash_alerta">
        {{mensagem[0]}}
    </div>
    {% endif %}
    <main>
        <section>
            <h1>Login</h1>
            <form action="/login" id="login" method="post">
                <label for="inome">Nome:</label>
                <input type="text" name="nome" id="inome" required placeholder="Digite o nome" maxlength="10" minlength="5"><br>
                <label for="isenha">Senha:</label>
                <input type="password" name="senha" id="isenha" minlength="5" maxlength="10" required placeholder="Digite sua senha"><br>
                <div id="botao"><button type="submit">Enviar</button></div>
            </form>
        </section>
    </main>
</body>
</html>